<!DOCTYPE html>

{% autoescape true %}
<html>
<head>
	<title>60 Second Laundry</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/partner_custom.css" rel="stylesheet">
	{% block headscripts %}

	{% endblock %}
</head>
	<body>
		<div class="container">
			<header>
				<img src="/static/img/Logo_width300.png" alt="Sixty Second Laundry" style=" margins: auto; margin-top: 30px;"></a>
			</header>
			{% block content %}

			{% endblock %}
			<footer>
				<hr/>
				<p>
				{% if not user %}
		        <a href="/partner-login">Login</a>
		        {% else %}
		          Logged in as <span style="background-color: OldLace">{{ user.name }}</span> | <a href="/partner-logout">Logout</a>
		        {% endif %}
		        |
		        <a href="/partner">Dashboard</a>
		        |
		        <a href="/">Main Website</a>
		     	</p>
			</footer>
		</div>
		


	<!-- End scripts -->
	<script src="/static/jquery/jquery-1.11.0.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>

	{% block endscripts %}

	{% endblock %}

	</body>
</html>
{% endautoescape %}