{% extends "templates/partner/dashboard.html" %}
{% block headscripts %}

    <!-- wysihtml5 -->
    <!-- <link href="/static/wysihtml5/bootstrap3-wysihtml5.min.css" />
	<script src="/static/wysihtml5/bootstrap3-wysihtml5.min.js"></script>
 -->
{% endblock %}

{% block option %}
<link href="/static/css/custom.css" rel="stylesheet"> 

<h3 class="option_header">Your Information For Customers</h3>
<br>

<form id="info_form" action="/partner/info" method="POST">
	<div class="form-group">
		<input id="info_enable" type="checkbox" name="info_enable" value='{{ partner.info_enable }}'> <label for="info_enable">Show information for customers (highly recommended)</label>
	</div>
	<div class="form-group">
		<label for="manager_name">Manager name</label>
		<p class="help-block">Says "Meet your cleaner, _____"</p>
		<input id="manager_name" name="manager_name" value="{{ partner.manager_name }}" type="text" class="form-control">

	</div>
	
	<label for="manager_introduction">Introduce Yourself</label>
	<p>This is a little quote below your name. It allows the customer to get to know you, your experience, your background.</p>
	<textarea id="manager_introduction" name="manager_introduction" class="form-control" rows="3">{{ partner.manager_introduction }}</textarea>
	
	<label for="about_us">Describe Your Business</label>
	<p>This is for your "about us" section. Put as much impressive stuff as you can in here.</p>
	<textarea id="about_us" name="about_us" class="form-control" rows="3">{{ partner.about_us }}</textarea>

	<label for="editme">Terms and Conditions</label>
	<textarea id="terms" name="terms" class="form-control" rows="3">{{ partner.terms }}</textarea>
</form>

<button type="button" onclick="attempt_submit(); return false;" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 30px;">Update Profile</button>
<hr>
<h3>Upload Profile Photo</h3>

<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">

    <label>Profile Photo<br> <input type="file" name="profile_photo"></label>
    <p class="normal">Should be 120 pixels x 120 pixels. This is small, so choose an appropriate head-shot.</p>

	<input type="Submit" value="Save" class="btn btn-primary">
</form>



</form>


<hr>
<h4>Profile Preview:</h4>
<hr>
<div id="info_tab" style="width: 400px;">

	{% include "templates/profile_info.html" %}

</div>

<!-- Example -->

<!-- <div id="info_tab" style="width: 400px;">
	<div id="meet_cleaner" style="height: 120px;">
		<div id="cleaner_picture" style="float:left; margin-right: 20px;">
		<img src="/static/img/ProfilePhoto.png" style="border-radius: 60px;">
		</div>
		<div>
		<h4>Meet your cleaner, <a href="#" id="cleaner_name">Will</a></h4>
		<p><a href="#" id="cleaner_intro">"I've been running dry cleaners for 3 years. We work very hard here to make sure every garmet comes out looking fantatic."</a></p>
		</div>
	</div>
	<div id="delivery_options" style="width: 200px; height: 600px; float:left">
		<h4>Delivery Times</h4>
		<ul class="unindented">
			<li>Mon - Fri, 9am - 6pm</li>
			<li>Calls ahead of arrival</li>
			<li>Free pickup on orders above £20</li>
			<li>£5 delivery fee for orders below £20 (or £20, whichever is less)</li>
		</ul>
		<h4>Pictures</h4>
		<img src="/static/img/ProfilePhoto.png" style="border-radius: 10px; width: 180px;">
		<img src="/static/img/ProfilePhoto.png" style="border-radius: 10px;">
		<img src="/static/img/ProfilePhoto.png" style="border-radius: 10px;">
	</div>
	<div id="delivery_options" style="width: 200px; height: 600px; float: right">
	<h4>About Us</h4>
	<div id="map">
		{{ partner.address }}
		<iframe
		  width="180"
		  height="180"
		  frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAypbedufQav3O8Zod4loQy6825JoQuENY
		    &q={{ partner.address }}">
		</iframe>

	</div>
	<a href="#" id="about_us">We really try to look after our customers, whatever the situation. That's how we've built such a good reputation.

	<ul>
		<li>30,000 garments cleaned each year</li>
		<li>Certified garment spot checker from the Institution of Dry Cleaners</li>
		<li>Certified dry clean expert from the Institution of Dry Cleaners</li>
		<li>Owns 3 dry cleaners</li>
		<li>TI 3200 State-of-the-art Dry Cleaning machine</li>

	</ul></a>



	</div>
</div>

 --><!-- 
<div id="listing">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<i>Your listing:</i>
	<br>
	<br>
		<div style="width:400px">
			<div id="partnerinfo">
				<div id="quickviewdiv">

					<div id="partner_logo"><img class="partnerlogo" src="{{ partner.logo_url }}" style="float: left; margin-right: 10px;" alt='Partner Logo'>
					</div>
					<div id="partner_facts" style="float: left; width: 270px;">
						<h4 style="margin-bottom: 5px;">{{ partner.name }}</h4>
						<div id="partner_facts_deeper" style="float: left; width: 270px;">
							<h5>{{ partner.address}}</h5>
							<h5>Min order: £{{ partner.minimum_order }}</h5>
							<h5>{{ partner.delivery_cost }}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	<br>
	<hr>
	<p><i>Your "info":</i></p>
	<p style="font-size: 80%"><i>This is displayed on your profile (next to reviews)</i></p>

</div>

 -->
{% endblock %}

{% block endscripts %}

<script type="text/javascript">

$("#info_li").addClass("active")

if('{{ partner.info_enable }}' == "True"){
		$("#info_enable").prop('checked', true)
	}

function attempt_submit(){
	$("#info_form").submit()
}


{% endblock %}