{% extends "templates/partner/base.html" %}
{% block content %}

<h1>Login To Your Cleaner Account</h1>

{% if failed %}

<strong>Login failed!</strong> Check your credentials and try again.

{% endif %}

{% if password_fail %}
<strong>Password failed.</strong> Order not submitted. Logging you out for security reasons.
{% endif %}

<div>
	<form class="form" action="/partner-login" method="POST" >
		<table>
			<tr>
				<td><label for="username">Username </label></td>
				<td><input type="text" name="username" value="{{ username }}"></td>
			</tr>
			<tr>
				<td><label for="password">Password </label></td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align: right"><button type="submit" class="btn btn-success">Login</button></td>
			</tr>
		</table>
	</form>
</div>
<br>
<br>

<a href="/partner-forgot">I have forgotten my password</a>

{% endblock %}