{% extends "templates/partner/dashboard.html" %}
{% block option %}

<h3 class="option_header">Your menu</h3>
	{% set prevtabname = 'first' %}
<table class='menutable' border="0" style="margin-top:5px;">
	<br>
	<p><i>Feature in development</i> </p>
	{% for item in menuitems %}
		{% if item.tabname != prevtabname: %}
			<tr style="height: 2.7em; vertical-align: bottom;">
				<th>{{ item.tabname }}</th>
			</tr>
		{% endif %}

		<tr>
			{% if item.item != prev_item %}
				<td class='firstitem itemcolumn'>{{ item.item }}</td>
			{% else %}
				<td class="itemcolumn"></td>
			{% endif %}

			{% set prev_item = item.item %}

				<td class='subitemcolumn'>{{ item.subitem }}</td>
			
			{% if item.price != 0 %}
				<td class="pricecolumn" style="text-align:right;">{{ item.price|currencyformat }}</td>
			{% elif item.pricemax == 0 %}
				<td class="pricecolumn" style="text-align:right;">From {{ item.pricemin|currencyformat }}</td>
			{% else %}
				<td class="pricecolumn" style="text-align:right;">{{ item.pricemin|currencyformat }} - {{ item.pricemax|currencyformat }}</td>
			{% endif %}

		</tr>

		{% set prevtabname = item.tabname %}
	{% endfor %}
</table>

{% endblock %}

{% block endscripts %}

<script type="text/javascript">

$("#menu_li").addClass("active")

</script>

{% endblock %}