{% extends "templates/partner/dashboard.html" %}

{% block option %}

<div>
	<h3 class="option_header">Viewing Order: {{ order.first_name }} {{ order.last_name }}</h3>
	<table>
		<tr>
			<td><strong>Customer</strong></td>
			<td><strong>{{ order.first_name }} {{ order.last_name }}</strong></td>
		</tr>
		<tr>
			<td style="width: 130px;">Address</td>
			<td>{{ order.address1 }}</td>
		</tr>
		<tr>
			<td></td>
			<td>{{ order.address2 }}</td>
		</tr>
		<tr>
			<td></td>
			<td>{{ order.address3 }}</td>
		</tr>
		<tr>
			<td></td>
			<td>{{ order.postcode }}</td>
		</tr>
		<tr>
			<td></td>
			<td>{{ order.collectioninstructions }}</td>
		</tr>
		<tr>
			<td>Phone Number</td>
			<td>{{ order.phonenumber }}</td>
		</tr>
		<tr>
			<td>Email </td>
			<td>{{ order.email }}</td>
		</tr>
		<tr>
			<td>Collection</td>
			<td>{{ order.collection_time_date }}</td>
		</tr>
		<tr>
			<td>Delivery</td>
			<td>{{ order.delivery_time_date }}</td>
		</tr>
		<tr>
			<td>Ordered</td>
			<td>{{ order.ordertime }}</td>
		</tr>
		<tr>
			<td>Order #</td>
			<td>{{ order.ordernumber }}</td>
			<input type="hidden" id="ordernumber" value="{{ order.ordernumber }}">
		</tr>
		
		<tr>
			<td>Payment Method:</td>
			<td>{{ order.payment_method|capitalize }}</td>
			<input type="hidden" id="payment_method" value="{{ order.payment_method }}">
		</tr>
		<tr>
			<td>Billed</td>
			<td>{{ order.charged|yesnoformat }}</td>
		</tr>
		{% if order.charged %}
		<tr>
			<td>Final Price</td>
			<td>{{ order.cost }}</td>
		</tr>
		{% endif %}
		
	</table>
</div>

<div style="background-color: #FCFCFC;">
	<form onsubmit="return submit_order()">
		<h3>Submit Payment</h3>
		<div class="input-group input-group-lg">
			<label for="amount" style="width: 170px;">Final billable amount: £</label>
			<input type="text" id="amount_pounds" class="input-sm" name="amount_pounds" style="width: 40px;">.
			<input type="text" id="amount_pence" class="input-sm" name="amount_pence" style="width: 40px;"><br>
		</div>
		<div class="input-group input-group-lg">
			<label for="pw" style="width: 170px;">Your Password: </label>
			<input type="password" class="input-sm" id="pw" name="pw" style="width: 87px;"><br>
		</div>

		{% if order.payment_method == "cash" %}
		<ul>
			<li>You are paid in cash when you deliver.</li>
			<li>The customer will receive a receipt and will be asked to leave a review.</li>
			<li>60 Second Laundry contact some customers to improve our service.</li>
			<li>Make sure your customer expects <span id="amount_span">this amount</span> to be billed before you bill them!!</li>
		</ul>
		{% endif %}

		{% if order.payment_method == "paypal" %}
		<ul>
			<li>This will charge the customer<span id="amount_span"></span> through PayPal.</li>
			<li>The customer will receive a receipt and will be asked to leave a review when they have received their clothes back.</li>
			<li>60 Second Laundry contact some customers to improve our service.</li>
			<li>Make sure your customer expects <span id="amount_span">this amount</span> to be billed before you bill them!!</li>
		</ul>
		{% endif %}
		<input type="submit" id="submit_button" class="btn btn-primary" value="Bill Customer">
	</form>
	<br>
</div> 

{% endblock %}

{% block endscripts %}

<script src="/static/js/accounting.js/accounting.min.js"></script>
<script src="/static/js/bootbox/bootbox.min.js"></script>

<script type="text/javascript">

valid_amount = false
amount = 0  // pence
string = ''

function submit_order(){

	if(valid_amount){
		question_string = "Are you sure you want to submit this order for " + string + "?"
		console.log(question_string)
		bootbox.confirm(question_string, function(result) {
			if(result){
				$("#submit_button").attr("value", "Billing...");
				$("#submit_button").attr("disabled", "disabled"); 
				var ordernumber = $("#ordernumber").val()
		 	 	var pw = $("#pw").val()

		 	 	post('/partner/submitorder', {
		 	 		pw: pw,
		 	 		amount: amount, // pence
		 	 		ordernumber: ordernumber
		 	 	})
			}
			
		})
	}
	return false


}


$(function(){
	$('#amount_pounds').change(function(){
		change_val()
	})

})

$(function(){
	$('#amount_pence').change(function(){
		change_val()
	})
})

function change_val(){
	// load
	var pounds = $("#amount_pounds").val()
	if (pounds == ''){
		pounds = 0
	}
	pounds = parseInt(pounds)
	var pence = $("#amount_pence").val()
	if (pence == ''){
		pence = 0
	}
	pence = parseInt(pence)

	// validate
	valid_amount = true
	if(!is_int(pence)){
		alert("pence entered not valid")
		valid_amount = false
	}
	if(!is_int(pounds)){
		alert("pounds entered not valid")
		valid_amount = false
	}
	if(pence > 99){
		alert("pence entered not valid")
		valid_amount = false		
	}
	
	// output string
	if (pence < 10 && pence != ''){
		pence = pence + '0'
	}
	if (pounds != '' && pence != ''){
		string = ' £' + pounds + '.' + pence
	}
	else if (pence == ''){
		string = ' £' + pounds + '.00'
	}
	else if (pounds == '' && pence != ''){
		string = ' ' + pence + 'p'
	}
	else if (pounds == '' && pence == ''){
		string = ''
	}
	$("#amount_span").html(string)
	amount = parseInt(pounds)*100 + parseInt(pence)
	console.log(valid_amount)
}

function is_int(string){
	return (typeof string==='number' && (string%1)===0);
}

function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

</script>

{% endblock %}