{% extends "templates/partner/base.html" %}
{% block content %}

<div id="pagecontainer" class="container">
	<div class="row">
		<h1>Order: {{ order.first_name }} {{ order.last_name }}</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div style="background-color: #FCFCFC;">
				<table>
					<tr>
						<td><strong>Customer</strong></td>
						<td><strong>{{ order.first_name }} {{ order.last_name }}</strong></td>
					</tr>
					<tr>
						<td>Address</td>
						<td>{{ order.address1 }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ order.address2 }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ order.address3 }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ order.postcode }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ order.collectioninstructions }}</td>
					</tr>
					<tr>
						<td>Phone Number</td>
						<td>{{ order.phonenumber }}</td>
					</tr>
					<tr>
						<td>Email </td>
						<td>{{ order.email }}</td>
					</tr>
					<tr>
						<td>Collection</td>
						<td>{{ order.collection_time_date }}</td>
					</tr>
					<tr>
						<td>Delivery</td>
						<td>{{ order.delivery_time_date }}</td>
					</tr>
					<tr>
						<td>Ordered</td>
						<td>{{ order.ordertime }}</td>
					</tr>
					<tr>
						<td>Order #</td>
						<td>{{ order.ordernumber }}</td>
						<input type="hidden" id="ordernumber" value="{{ order.ordernumber }}">
					</tr>
					
				</table>
			</div>

			<div style="background-color: #FCFCFC;">
				<h3>The Order<span id="order_amount"></span></h3>
				<div id="ordertablediv"></div>
				<br>
				<button class="btn btn-primary btn-lg btn-block" onclick="submit_order()">Submit Order</button>
				<br>
			</div> 
			<div id="newItem" hidden>
				<form onsubmit="return add_custom_item()">
					<fieldset>
						<legend>New Item</legend>

						<label for='type'>Type</label>
						<input type='text' id='type' /><br>

						<label for='subtype'>Subtype</label>
						<input type='text' id='subtype' /><br>

						<label for='price'>Unit Price (£)</label>
						<input type='text' id='price' /><br>

						<label for='turnaround'>Turnaround (Optional)</label>
						<input type='text' id='turnaround' /><br>

						<input type='submit' class='btn btn-primary' value="Add Item">
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-md-8">

			<div style="background-color: #FCFCFC; "> <!-- content: tab headings, tab contents -->
			<ul class="nav nav-pills nav-justified" data-tabs="tabs"> <!-- tab headings -->
			{% set prevtabname = '' %}
			{% set i = 0 %}
			{% set length = 0 %}

			{% for item in menuitems %}
			   	{% if item.tabname != prevtabname: %}
					{% set prevtabname = item.tabname %}
					{% set i = i+1 %}
					{% if i == 1: %}
			    		<li class="active"><a data-toggle="tab" href="#T{{ i }}">{{ item.tabname }}</a></li>
					{% else %}
						{% if length > 200 %}
							<li class="dropdown">
								    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
								      More <span class="caret"></span>
								    </a>
								    <ul class="dropdown-menu">
						{% endif %}
									<li><a data-toggle="tab" href="#T{{ i }}">{{ item.tabname }}</a></li>
						{% if length > 200 %}
							</ul>
						{% endif %}
					{% endif %}
					{% set length = length + 30 + item.tabname|length*5 %}
				{% endif %}
			{% endfor %}
			</ul>


			<div class="tab-content"> <!-- tab content -->
				
			{% set tabnumber = 0 %} 
			{% set prevtabname = 'first' %}

			{% for item in menuitems %}
				{% if item.tabname != prevtabname: %} <!-- ...then setup new tab -->
				{% set tabnumber = tabnumber+1 %}
					{% if prevtabname == 'first': %}
			<div class="tab-pane active" id="T{{ tabnumber }}">
				{% else %}
			</table></div> <!-- end previous table and table's div -->
			<div class="tab-pane" id="T{{ tabnumber }}">
				{% endif %}
			<br>
			<!-- START TABLE -->
			<table style="width: 100%;">
			<tr>
					<td class="itemcolumn"><strong>Item</strong></td>
				<td class="subitemcolumn"></td>   
				<td class="pricecolumn"><strong>Price</strong></td>
				<td class="turnaroundcolumn"><strong>Turn-around</strong></td>
				<td class="add"><strong>Add</strong></td>
			</tr>
			{% endif %}
			<tr>
				{% if item.item != prev_item %}
					<td class='firstitem itemcolumn'>{{ item.item }}</td>
				{% else %}
					<td class="itemcolumn"></td>
				{% endif %}
				{% set prev_item = item.item %}

				<td class='subitemcolumn'>{{ item.subitem }}</td>
				
				{% if item.price != 0 %}
					<td class="pricecolumn">{{ item.price|currencyformat }}</td>

				{% else %}
					<td class="pricecolumn">{{ item.pricemin|currencyformat }} - {{ item.pricemax|currencyformat }}</td>

				{% endif %}
				<td class="turnaroundcolumn">{{ item.time|capitalize }}</td>

				
				<td><button class="btn btn-default btn-primary btn-xs" onclick="item_added('{{ item.itemid }}', '{{ item.tabname }}', '{{ item.item }}', '{{ item.subitem }}', '{{ item.price }}', '{{ item.pricemin }}', 1)"><i class="gylphicon glyphicon-plus"></i></button><td>
			</tr>




				{% set prevtabname = item.tabname %}
			{% endfor %}
				</table></div> <!-- end final table and table's div --> 
			</div> <!-- end tab-content --> 

		</div>

	
	</div>
</div>





{% endblock %}

{% block endscripts %}

<script src="/static/js/accounting.js/accounting.min.js"></script>
<script src="/static/js/bootbox/bootbox.min.js"></script>

<script src="/static/js/custom/table.js"></script>


{% endblock %}