{% extends "templates/partner/dashboard.html" %}
{% block option %}

<h3 class="option_header">Settings</h3>
<br>
<i style="text-align: center;">Feature in development</i>


<br><br>
<table class="settings_table">

	<tr>
		<th colspan="2">Dashboard Settings</th>
	</tr>
	<tr>
		<td class="settings_label">User</td>
		<td class="value">{{ user.email_address }}</td>
		<td class="edit"></td>
	</tr>
	<tr>
		<td class="settings_label">Password</td>
		<td class="value">*</td>
		<td class="edit"><a id="change_password_text" href="" onclick="display_change_pw(); return false;">Change Password</a></td>
	</tr>
</table>

<table>
	<tr>
		<td>name</td>
		<td></td>
	</tr>
	<tr>
		<td>address</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>outcodes</td>
		<td></td>
	</tr>
	<tr>
		<td>logo_key</td>
		<td></td>
	</tr>
	<tr>
		<td>minimum_order</td>
		<td></td>
	</tr>
	<tr>
		<td>delivery_cost</td>
		<td></td>
	</tr>
	<tr>
		<td>phonenumber</td>
		<td></td>
	</tr>
	<tr>
		<td>email</td>
		<td></td>
	</tr>
	<tr>
		<td>days</td>
		<td></td>
	</tr>
	<tr>
		<td>start_hr</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
  name = ndb.StringProperty()
  address = ndb.StringProperty()
  outcodes = ndb.StringProperty(repeated=True)
  logo_key = ndb.BlobKeyProperty() #stores the key for the image
  minimum_order = ndb.IntegerProperty()
  delivery_cost = ndb.StringProperty()

  # contact
  phonenumber = ndb.StringProperty()
  email = ndb.StringProperty()

  # delivery
  days = ndb.IntegerProperty(repeated=True)
  start_hr = ndb.IntegerProperty()
  start_min = ndb.IntegerProperty()
  end_hr = ndb.IntegerProperty()
  end_min = ndb.IntegerProperty()
  window_size = ndb.IntegerProperty()
  start_day = ndb.IntegerProperty()
  end_day = ndb.IntegerProperty()

  last_orders_hr = ndb.IntegerProperty()
  last_orders_min = ndb.IntegerProperty()
  end_of_morning_hr = ndb.IntegerProperty()
  end_of_morning_min = ndb.IntegerProperty()
  last_orders_same_day_hr = ndb.IntegerProperty()
  last_orders_same_day_min = ndb.IntegerProperty()

  # best sellers
  shirts = ndb.StringProperty()
  suits = ndb.StringProperty()

  # geocode
  latitude = ndb.FloatProperty()
  longitude = ndb.FloatProperty()

</table>



<div class="change_password" id="change_password" style="display: none;">
	<form action="/partner/password-dashboard" method="POST">
		<legend>Change Password</legend>
		<label for="current_password">Current Password</label>
		<input type='password' name='current_password'><br>
		<label for="password">New Password</label>
		<input type='password' name='password'><br>
		<label for="confirm_password">Confirm New Password</label>
		<input type='password' name='confirm_password'><br>
		<br>
		<input type="submit" class="btn btn-success" value="Change password">
	</form>
</div>



{% endblock %}

{% block endscripts %}

<script type="text/javascript">

$("#settings_li").addClass("active")

function display_change_pw(){
	document.getElementById("change_password").style.display = "block";
}

</script>

{% endblock %}