{% extends "templates/partner/dashboard.html" %}
{% block option %}

<h3 class="option_header">Settings</h3>

<br>

<div style="display: none" id="warning" class="alert alert-info">
Check that number values are entirely numbers
</div>

<div style="display: none" id="required" class="alert alert-info">
Check that important bits of information are not blank!
</div>

<button class="btn btn-success btn-lg" onclick="attempt_submit(); return false;">Save All Changes</button>
<br><br>

<form id="settings_form" action="/partner/settings" method="POST">

	<fieldset>
		<legend>Your Business</legend>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" name="name" value="{{ partner.name }}" required class="form-control required">
			</div>
			<div class="form-group">
				<label for="address">First Line Of Address:</label>
				<input id="address" type="text" name="address" value="{{ partner.address }}" required class="form-control required">
				<p class="help-block">Let us know if you move so that we can provide you with local customers</p>
			</div>
	</fieldset>

	<fieldset>
		<legend>Contacting you when you receive an order</legend>
			<div class="form-group">
				<label for="phonenumber">Phone Number</label>
				<input class="required form-control" id="phonenumber" type="text" name="phonenumber" value="{{ partner.phonenumber }}" required>
				<p class="help-block">You will receive order notifications at this number. Must be correct. No spaces</p>
			</div>
			<div class="form-group">
				<label for="phonenumber_2">Phone Number 2 (Optional)</label>
				<input id="phonenumber_2" class="form-control" type="text" name="phonenumber_2" value="{{ partner.phonenumber_2 }}" ><br><p>You will also receive a text at this number</p>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input class="required form-control" id="email" type="text" name="email" value="{{ partner.email }}" disabled>
				<p>You Will Receive Full Order Details. Contact us if you would like to change this.</p>
			</div>
			<div class="form-group">	
				<label for="email_2">Email 2 (Optional)</label>
				<input id="email_2" class="form-control" type="text" name="email_2" value="{{ partner.email2 }}">
			</div>
			<div class="form-group">
				<label for="email_3">Email 3 (Optional)</label>
				<input id="email_3" class="form-control" value="{{ partner.email3 }}" type="text" name="email_3">
			</div>
	</fieldset>
	<fieldset>
		<legend>Delivery Settings</legend>
			<div class="form-group">
				<label for="outcodes">Outcodes you deliver to</label>
				<input id="outcodes" class="form-control" type="text" name="outcodes" value="{% for outcode in partner.outcodes %}{{ outcode }} {% endfor %}" required>
				<p class="help-block">An outcode is the first section of a postcode, e.g. "SW1". Use a space to seperate outcodes</p>
			</div>
			<div class="form-group">
				<label for="minimum_order">Minimum Order</label> £<input id="minimum_order" class="time integer" type="text" name="minimum_order" value="{{ partner.minimum_order }}" required>
				<p class="help-block">Recommended: 20 or lower. This is for ordinary free deliveries.</p>
			</div>
			<hr>
			<div class="form-group">
				<label for="minimum_order_paid_accept">Accept £5 Delivery Orders</label>
				<input id="minimum_order_paid_accept" type="checkbox" name="minimum_order_paid_accept" value="{{ partner.minimum_order_paid_accept }}">
				<p class="help-block">"£5 Delivery Orders" are small orders under £20. You are paid £5 extra for each order. Enter the number of pounds of the minimum order only, e.g. "10". No £ sign. Must be a whole number less than 20. Recommended: 10 or lower.</p>
			</div>
			<div class="form-group">
				<label for="minimum_order_paid">Minimum £5 Delivery Order £</label>
				<input id="minimum_order_paid" class="time integer" type="text" name="minimum_order_paid" value="{{ partner.minimum_order_paid }}" maxlength="2">
			</div>
	</fieldset>
	<fieldset>
		<legend>Delivery Times Information</legend>
		<div class="form-group">
			<label>Earliest Delivery Time: </label><input style="margin-left: 5px;" class='time integer required' id="start_hr" type="text" name="start_hr" value='{{ partner.start_hr }}' required maxlength="2">:
			<input class="time integer" id="start_min" type="text" name="start_min" value='{{ partner.start_min }}' required maxlength="2">
			<p class="help-block">(24 hour clock e.g. 22:00)</p>
		</div>
		<div class="form-group">
			<label for="end_hr">Last Delivery:</label> 			<input class='time integer required' id="end_hr" type="text" name="end_hr" value='{{ partner.end_hr }}' required maxlength="2">
			:
			<input class='time integer' id="{{ partner.end_min }}" type="text" name="end_min" value='{{ partner.end_min }}' required maxlength="2">
			<p class="help-block">This will be the end of the last delivery window. (24 hour 	clock)</p>
		</div>
		<div class="form-group">
			<label for="window_size">Delivery Slot Size: </label><input style="margin-left: 5px;" class="time integer required" id="window_size" type="text" name="window_size" value='{{ partner.window_size }}' maxlength="3"> Minutes
			<p class="help-block">In minutes e.g. "60". Recommended: 60 or less. This is the length of time of a delivery slot. E.g. 60 minute slot means slots will look like "12:00 - 13:00"</p>
		</div>
		<div class="form-group">
			<label>Days Available For Delivery</label><br>
			
			<input id="sunday" type="checkbox" name="days_checkbox" value='0'> <label for="sunday"> Sunday</label>
			<br>
			
			<input id="monday" type="checkbox" name="days_checkbox" value='1'> <label for="monday"> Monday</label>
			<br>
			
			<input id="tuesday" type="checkbox" name="days_checkbox" value='2'> <label for="tuesday"> Tuesday</label>
			<br>
			
			<input id="wednesday" type="checkbox" name="days_checkbox" value='3'> <label for="wednesday"> Wednesday</label>
			<br>
			
			<input id="thursday" type="checkbox" name="days_checkbox" value='4'> <label for="thursday"> Thursday</label>
			<br>
			
			<input id="friday" type="checkbox" name="days_checkbox" value='5'> <label for="friday"> Friday</label>
			<br>
			
			<input id="saturday" type="checkbox" name="days_checkbox" value='6'> <label for="saturday"> Saturday</label>
			<input type="text" name="days" value='{% for day in partner.days%} {{ day }}{% endfor %}' hidden>
		</div>
	</fieldset>
	<br>
	<fieldset>
		<legend>Optional Delivery Settings</legend>
			<div class="form-group">
				<h4>Last Orders For Same Evening Deliveries</h4>
				<p class="help-block">This lets you set a latest time in the evening for which orders for that same day can arrive.</p>
			</div>
			<div class="form-group">
				<input id="last_orders_same_day_enable" type="checkbox" name="last_orders_same_day_enable" value='{{ partner.last_orders_same_day_enable }}'> <label for="last_orders_same_day_enable">Enable This Setting</label>
			</div>
			<div class="form-group">
				<label for="last_orders_same_day_hr">Time (24 hour clock)</label>
				<input class="time integer" id="last_orders_same_day_hr" type="text" name="last_orders_same_day_hr" value='{{ partner.last_orders_same_day_hr }}' maxlength="2">
				:
				<input class="time integer" id="last_orders_same_day_min" type="text" name="last_orders_same_day_min" value='{{ partner.last_orders_same_day_min }}' maxlength="2">
			</div>
			<hr>
			<div class="form-group">
				<h4>Last Orders For Next Morning Deliveries.</h4>
				<p class="help-block">This lets you prevent orders coming in during the evening that would require you to wake up early next morning. For example, you can say that "after 7pm (last orders: 19:00), don't send me any orders for the next day that start before 10am (end of morning: 10:00)"</p>
				<input id="last_orders_enable" type="checkbox" name="last_orders_enable" value='{{ partner.last_orders_enable }}'> <label>Enable This Setting</label>
			</div>
			<div class="form-group">
				<label for="last_orders_hr">Last Orders</label>
				<input class="time integer" id="last_orders_hr" type="text" name="last_orders_hr" value='{{ partner.last_orders_hr }}' maxlength="2">:
				<input class="time integer"  id="last_orders_min" type="text" name="last_orders_min" value='{{ partner.last_orders_min }}' maxlength="2">
				<p class="help-block">(24 hour clock)</p>
			</div>
			<div class="form-group">
				<label for="end_of_morning_hr">When "Morning" Ends</label>
				<input class="time integer" id="end_of_morning_hr" type="text" name="end_of_morning_hr" value='{{ partner.end_of_morning_hr }}' maxlength="2">
				:
				<input class="time integer" id="end_of_morning_min" type="text" name="end_of_morning_min" value='{{ partner.end_of_morning_min }}' maxlength="2">
				<p class="help-block">(24 hour clock)</p>
			</div>
	</fieldset>
</form>

<br>
<br>
<button class="btn btn-success btn-lg" onclick="attempt_submit(); return false;">Save All Changes</button>


<hr>
<br><br>
<table class="settings_table">

	<tr>
		<th colspan="2">Dashboard Settings</th>
	</tr>
	<tr>
		<td class="settings_label">User</td>
		<td class="value">{{ user.email_address }}</td>
		<td class="edit"></td>
	</tr>
	<tr>
		<td class="settings_label">Password</td>
		<td class="value">*</td>
		<td class="edit"><a id="change_password_text" href="" onclick="display_change_pw(); return false;">Change Password</a></td>
	</tr>
</table>

<div style="display: none" id="warning" class="alert alert-info">
				Check that number values are entirely numbers
			</div>

<div class="change_password" id="change_password" style="display: none;">
	<form action="/partner/password-dashboard" method="POST">
		<legend>Change Password</legend>
		<label for="current_password">Current Password</label><br>
		<input type='password' name='current_password'><br>
		<label for="password">New Password</label><br>
		<input type='password' name='password'><br>
		<label for="confirm_password">Confirm New Password</label><br>
		<input type='password' name='confirm_password'><br>
		<br>
		<input type="submit" class="btn btn-success" value="Change password">
	</form>
</div>



{% endblock %}

{% block endscripts %}

<script type="text/javascript">

$("#settings_li").addClass("active")


check_days_checked()
check_options_checked()


function check_days_checked(){
	// get days into array
	var days = []

	{% for day in partner.days %}
		days.push({{ day }})
	{% endfor %}


	// for each day in array, check the appropriate checkbox
	for(i = 0; i<= days.length; i += 1){
		$("input[name='days_checkbox'][value='" + days[i] + "']").prop('checked', true)
	}
}

function check_options_checked(){
	var accept_five_pounds = '{{ partner.minimum_order_paid_accept }}'
	var last_orders_same_day_enable = '{{ partner.last_orders_same_day_enable }}'
	var last_orders_enable = '{{ partner.last_orders_enable }}'

	if(accept_five_pounds == "True"){
		$("#minimum_order_paid_accept").prop('checked', true)
	}
	if(last_orders_same_day_enable == "True"){
		$("#last_orders_same_day_enable").prop('checked', true)
	}
	if(last_orders_enable == "True"){
		$("#last_orders_enable").prop('checked', true)
	}

}

function is_int(value){
	var intRegex = /^\d+$/;
	if(intRegex.test(value)){
		return true
	} else {
		return false
	}
}

function validate_form(){
	console.log("in validate_form")
	var invalid_flag = 0
	$(".integer").each(function(){
		if(!is_int(this.value)){
			invalid_flag = 1	
		}
	})
	if(invalid_flag == 0){
		document.getElementById("warning").style.display = "none";
	} else {
		document.getElementById("warning").style.display = "block";
	}
	var required_flag = 0
	$(".required").each(function(){
		if(this.value == ''){
			required_flag = 1
		}
	})

	if(required_flag == 0){
		document.getElementById("required").style.display = "none";
	} else {
		document.getElementById("required").style.display = "block";
	}


	if(invalid_flag == 0 && required_flag == 0){
		return true;
	} else {
		return false;
	}
}

function display_change_pw(){
	document.getElementById("change_password").style.display = "block";
}

function attempt_submit(){
	populate_days()
	if(validate_form()){
		$("#settings_form").submit()
	}
}

function populate_days(){
	string = ''
	$("input[name='days_checkbox']").each(function(){
			if (this.checked){
				string = string + " " + this.value
			}
		})
	$("input[name='days']").val(string)
}



</script>

{% endblock %}