{% extends "templates/partner/base.html" %}
{% block content %}

<!-- Add content here! -->
<h1>Create New Dry Cleaner</h1>

<p>This page is only usable by 60 Second Laundry Staff, who have the admin password</p>

{% if failed %}

<strong>Creation failed!</strong> Check credentials and try again.

{% endif %}

<form action="{{ upload_url }}" enctype="multipart/form-data" method="POST">
<!-- <form action="/partner-signup" method="POST" > -->
	<table>
		<tr>
			<td><label for="adminpassword">Admin Password</label></td>
			<td><input type="password" name="adminpassword" /></td>
		</tr>
		<tr>
			<td><label for="username">Username</label></td>
			<td><input type="text" name="username" /></td>
		</tr>
		<tr>
			<td><label for="email">Email address</label></td>
			<td><input type="text" name="email" /></td>
		</tr>
		<tr>
			<td><label for="phonenumber">Phonenumber (as a string)</label></td>
			<td><input type="text" name="phonenumber"></td>
		</tr>
		<tr>
			<td><label for="password">Log In Password</label></td>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td><label for="name">Name</label></td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td><label for="address">Address</label></td>
			<td><input type="text" name="address" /></td>
		</tr>
		<tr>
			<td><label for="outcodes">Outcodes</label></td>
			<td><input type="text" name="outcodes"></td>
		</tr>
		<tr>
			<td><label for="minimum_order">Minimum order (as an integer)</label></td>
			<td><input type="text" name="minimum_order" ></td>
		</tr>
		<tr>
			<td><label for="delivery_cost">Delivery cost (as a string e.g. "Free Delivery")</label></td>
			<td><input type="text" name="delivery_cost"></td>
		</tr>
		<tr>
			<td><label for="logo">Logo</label></td>
			<td><input type="file" name="logo"></td>
		</tr>
		<tr>
			<td>----</td>
			<td></td>
		</tr>
		<tr>
			<td><label for="menufilename">Menu File Name</label></td>
			<td><input type="text" name="menufilename"></td>
		</tr>
		<tr>
			<td><label for="start_hr">Delivery Start Time (Hour, 24 hour clock)</label></td>
			<td><input type="text" name="start_hr" value='7'></td>
		</tr>
		<tr>
			<td><label for="start_min">Delivery Start Time (Minute)</label></td>
			<td><input type="text" name="start_min" value='0'></td>
		</tr>
		<tr>
			<td><label for="end_hr">Delivery End Time (Hour, 24 hour clock)</label></td>
			<td><input type="text" name="end_hr" value='22'></td>
		</tr>
		<tr>
			<td><label for="end_min">Delivery End Time (Minute)</label></td>
			<td><input type="text" name="end_min" value='0'></td>
		</tr>
		<tr>
			<td><label for="window_size">Window (in minutes)</label></td>
			<td><input type="text" name="window_size" value='60'></td>
		</tr>
		<tr>
			<td><label for="days">Days Available For Delivery: Enter string of numbers seperated by spaces, where Sunday = 0, Monday = 1, etc</label></td>
			<td><input type="text" name="days" value='0 1 2 3 4 5 6'></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" class="btn btn-success" value="Create user" /></td>
		</tr>
	</table>
	
	
</form>

{% endblock %}
{% block endscripts %}
{% endblock %}