{% extends "templates/base.html" %}
{% block content %}
<form action="{{ upload_url }}" enctype="multipart/form-data" method="POST">
	<input id="searchbar" type="text" name="name" placeholder="Name" value="Washington Dry Cleaners">
	<br>
	<input id="searchbar" type="text" name="address" placeholder="Address" value="18 Half Moon St."><br>
	<input id="searchbar" type="text" name="outcodes" placeholder="Outcodes" value="W1 W1J"> <br>
	<input id="searchbar" type="text" name="minimum_order" placeholder="Minimum order" value="30">(as an integer)<br>
	<input id="searchbar" type="text" name="delivery_cost" placeholder="Delivery cost" value="Free Delivery" >(as a string) <br>
	<input type="file" name="logo">	<br>
	<input id="searchbar" type="text" name="filename" placeholder="Menu Filename (optional)">
	<hr>
	<label for="phonenumber">Phone Number (as a string)</label>
	<input id="searchbar" type="text" name="phonenumber" value="555-555-555" ><br>
	<label for="phonenumber">Phone Number 2 (Optional, as a string)</label>
	<input id="searchbar" type="text" name="phonenumber_2" value="555-555-555" ><br>



	<label for="email">Email</label>
	<input id="searchbar" type="text" name="email"><br>
	<label for="email">Email 2 (Optional)</label>
	<input id="searchbar" type="text" name="email_2"><br>
	<label for="email">Email 3 (Optional)</label>
	<input id="searchbar" type="text" name="email_3"><br>
	<hr>
	<label>Delivery Start Time (Hour, 24 hour clock)</label>
	<input id="searchbar" type="text" name="start_hr" placeholder="" value='7'><br>
	<label>Delivery Start Time (Minute)</label>
	<input id="searchbar" type="text" name="start_min" placeholder="" value='0'><br>
	<label>Delivery End Time (Hour, 24 hour clock)</label>
	<input id="searchbar" type="text" name="end_hr" placeholder="" value='22'><br>
	<label>Delivery End Time (Minute)</label>
	<input id="searchbar" type="text" name="end_min" placeholder="" value='0'><br>
	<label>Window (in minutes)</label>
	<input id="searchbar" type="text" name="window_size" value='60'>
	<hr>
	<label>Last Orders for tomorrow morning (Hour, 24 hour clock)</label>
	<input id="searchbar" type="text" name="last_orders_hr" placeholder="" value='19'><br>
	<label>Last Orders for pickup tomorrow morning (Minute)</label>
	<input id="searchbar" type="text" name="last_orders_min" value='0'><br>
	<label>Morning End Time (Hour, 24 hour clock)</label>
	<input id="searchbar" type="text" name="end_of_morning_hr" placeholder="" value='10'><br>
	<label>Morning End Time (Minute)</label>
	<input id="searchbar" type="text" name="end_of_morning_min" placeholder="" value='0'><hr>
	<label>Last orders for same evening deliveries</label>
	<label>(Hour, 24 hour clock)</label>
	<input id="searchbar" type="text" name="last_orders_same_day_hr" placeholder="" value='23'><br>
	<label>(Minute)</label>
	<input id="searchbar" type="text" name="last_orders_same_day_min" placeholder="" value='0'><br>
	<br><br>
	Days Available For Delivery: Enter string of numbers seperated by spaces, where Sunday = 0, Monday = 1, etc
	<input id="searchbar" type="text" name="days" placeholder="" value='0 1 2 3 4 5 6'><br><br>
	<input id="searchbutton" class="btn btn-success" type="submit" value="Add to database">
	<br><br>
	
</form>
{% endblock %}