{% extends "templates/base.html" %}
{% block content %}
		{% for partner in partners %}
		<div>
			<img class="partnerlogo" src="{{ partner.logo_url }}" style="float: left; margin-right: 10px; margin-top: 20px;">
			<br /><h4>{{ partner.name }}</h4>
			<br />Address: {{ partner.address}}
			<br />Minimum Order: {{ partner.minimum_order }}
			<br />Delivery Cost String: {{ partner.delivery_cost }}
			<br />Phone Number: {{ partner.phonenumber }}
			<br />Email: {{ partner.email }}
			<br />Serves Outcodes:
				{% for a in partner.outcodes %}
					{{ a }}
				{% endfor %}
			<br />Day Start: {{partner.start_hr}}:{{partner.start_min}}. End: {{partner.end_hr}}:{{partner.end_min}}
			<br/ >Last Orders: {{partner.last_orders_hr}}:{{partner.last_orders_min}}. Morning End: {{partner.end_of_morning_hr}}:{{partner.end_of_morning_min}}
			<br />
			<br />
			Days: {% for day in partner.days %}{{ day }} {% endfor %}
			<form id="{{ partner.name }}form" method="post" action="/delete">
				<input type="hidden" name="partner_name" value="{{ partner.name }}" /> 
				<button onclick="document.getElementById('{{ partner.name }}form').submit();">Delete</button>
			</form>
			<br>
		</div>
		{% endfor %}
{% endblock %}