<!DOCTYPE html>

{% autoescape true %}
<html>
<head>
	<title>60 Second Laundry</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet"> 
	<link href="/static/css/custom.css" rel="stylesheet"> 
	<meta name="viewport" content="width=420, user-scalable=no">
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47860802-1', '60secondlaundry.com');
  ga('send', 'pageview');

</script>

{% block headscripts %}

{% endblock %}

</head>
	<body>
		<div class="container">
			<div id="maindiv">{% block content %}{% endblock %}</div>
		</div>
<script src="/static/jquery/jquery-1.11.0.min.js"></script>
<script src="/static/js/bootstrap.js"></script>


{% block endscripts %}{% endblock %}
	</body>
</html>
{% endautoescape %}