{% extends "templates/base.html" %}
{% block content %}
	<div id="collectioninfo">
		<form action="revieworder" method="post">
			<fieldset>
			<legend>Where Do We Collect & Deliver?</legend>
			<input class="collectionform input-lg" name="Address_line_1" type="text" name="searchquery"
			placeholder="Address Line 1"><br>
			<input class="collectionform input-lg" name="Address_line_2" type="text" name="searchquery"
			placeholder="Address Line 2"><br>
			<input class="collectionform input-lg" name="Address_line_3" type="text" name="searchquery"
			placeholder="Address Line 3"><br>
			<input class="collectionform input-lg" name="Postcode" type="text" name="searchquery" value = "{{ postcode }}"
			placeholder="Postcode">
			<textarea class="collectionform input-lg" name="Collect_instructions" type="text" name="searchquery"
			placeholder="Collection Instructions?"></textarea>
			</fieldset>
			<br><br>
			<fieldset>
			<legend>How Can We Contact You?</legend>
			<input class="collectionform-half input-lg" name="first_name" type="text" name="searchquery"
			placeholder="First Name">
			<input class="collectionform-half input-lg" name="last_name" type="text" name="searchquery"
			placeholder="Last Name">
			<br>
			<input class="collectionform input-lg" name="Phone_number" type="text" name="searchquery"
			placeholder="Phone Number"><br>
			<input class="collectionform input-lg" name="Email" type="text" name="searchquery"
			placeholder="Email"><br>
			</fieldset>
			<br><br>

			<fieldset>
			<legend>Collection Time</legend>
			<div class="form-group">
                <div class="input-group date form_collection col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM,  HH:ii - HH:ii p" data-link-field="dtp_input1">
                    <input placeholder="Collection Time & Date" id="collection_input" name="collection_input" class="form-control input-lg" size="16" type="text" value="">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" />
				<br><legend>Delivery Time</legend>
                <div class="input-group date form_delivery col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM,  HH:ii - HH:ii p" data-link-field="dtp_input2">
                    <input placeholder="Delivery Time & Date" id="delivery_input" name="delivery_input" class="form-control input-lg" size="16" type="text" value="">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="dtp_input2" value="" />
				<input value="{{ partner_name }}" type="hidden" name="partner_name">
            </div>
        </fieldset>
		
	</div>
	<br/>
	<div id="review">
		<input id="reviewbtn" class="btn btn-success btn-lg" type="submit" value="Review Order"><br></form>
	</div>
{% endblock %}

{% block endscripts %}
<script type="text/javascript">

$(document).ready(function() {
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;       
    $("#abc").attr("data-date", today);
    console.log(today)

    // 1979-09-16T05:25:07Z
});
</script>

<link href="static/datetime-picker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

<script type="text/javascript" src="static/datetime-picker/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="static/datetime-picker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

<script type="text/javascript">
    $('.form_collection').datetimepicker({
        //language:  'fr',
        startDate: new Date(),
        weekStart: 1,
        todayBtn:  0,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1,
        minuteStep: 15,
        pickerPosition: "bottom-left"
    });
    $('.form_delivery').datetimepicker({
        //language:  'fr',
        startDate: new Date(),
        weekStart: 1,
        todayBtn:  0,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1,
        minuteStep: 15,
        pickerPosition: "bottom-left"
    });
</script>



{% endblock %}