<html>
<head>
	<title>60 Second Laundry</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/custom.css" rel="stylesheet">
</head>
<body>
		<img id="toplogo" src="static/img/Logo_width300.png" alt="Sixty Second Laundry">
	<hr>

	<div id="collectioninfo">
		<form>
			<input class="collectionform input-lg" id="Address_line_1" type="text" name="searchquery"
			placeholder="Address Line 1"><br>
			<input class="collectionform input-lg" id="Address_line_2" type="text" name="searchquery"
			placeholder="Address Line 2"><br>
			<input class="collectionform input-lg" id="Address_line_3" type="text" name="searchquery"
			placeholder="Address Line 3"><br>
			<input class="collectionform input-lg" id="Postcode" type="text" name="searchquery"
			placeholder="Postcode">
			<br><br>
			<input class="collectionform input-lg" id="collection_time" type="text" name="searchquery"
			placeholder="Collection Time">
			<input class="collectionform input-lg" id="collection_date" type="text" name="searchquery"
			placeholder="Collection Date">
			<br><br>
			<input class="collectionform input-lg" id="delivery_time" type="text" name="searchquery"
			placeholder="Delivery Time">
			<input class="collectionform input-lg" id="delivery_date" type="text" name="searchquery"
			placeholder="Delivery Date">
		</form>
	</div>

	<div id="review">
		<button id="reviewbtn" class="btn btn-success">ORDER</button><br>
	</div>

	
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>