{% extends "templates/base.html" %}
{% block headscripts %}
<link href="static/eternicode-bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
<link href="static/eternicode-bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">
{% endblock %}


{% block content %}

	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Listings</li>
		<li class="active">Cleaner</a></li>
		<li class="active">Booking</li>
	</ol>


	<div id="collectioninfo">
		<form action="revieworder" method="post">
			<fieldset>
				<legend>Where Do We Collect & Deliver?</legend>
				<input class="collectionform input-lg" name="Address_line_1" type="text" name="searchquery"
				placeholder="Address Line 1" required value="17 Corsham Street"><br>
				<input class="collectionform input-lg" name="Address_line_2" type="text" name="searchquery"
				placeholder="Address Line 2"><br>
				<input class="collectionform input-lg" name="Address_line_3" type="text" name="searchquery"
				placeholder="Address Line 3"><br>
				<input class="collectionform input-lg" name="Postcode" type="text" name="searchquery" value = "{{ postcode }}"
				placeholder="Postcode" required>
				<textarea class="collectionform input-lg" name="Collect_instructions" type="text" name="searchquery"
				placeholder="Collection Instructions?"></textarea>
			</fieldset>
			<br><br>
			<fieldset>
				<legend>How Can We Contact You?</legend>
				<input class="collectionform-half input-lg" name="first_name" type="text" name="searchquery"
				placeholder="First Name" required value="Will">
				<input class="collectionform-half input-lg" name="last_name" type="text" name="searchquery"
				placeholder="Last Name" required value="Taylor">
				<br>
				<input class="collectionform input-lg" name="Phone_number" type="text" name="searchquery"
				placeholder="Phone Number" required value="07772622352"><br>
				<input class="collectionform input-lg" name="Email" type="email" name="searchquery"
				placeholder="Email" required value="wrftaylor@gmail.com"><br>
			</fieldset>
			<br><br>

			<fieldset>
			<legend>Collect: <strong><span id="collection_string_day"></span><span id="c_comma"></span> <span id="collection_string_time"></span></strong></legend>
			<div style="display: none" id="c_warning_div" class="alert alert-info">
				<strong>Note:</strong> If your cleaner feels that they can't collect at short notice, they'll give you a call to re-arrange.
			</div>

			<div class="btn-group btn-group-justified" data-toggle="buttons">
				{% set i = 0 %}
				{% for day_label in next_three_days %}
				<label class="btn btn-default">
					<input type='radio' name="collection_day" id="c_day_{{ i }}" value="{{ day_label }}">{{ day_label|nicedates }}
				</label>
				{% set i = i+ 1 %}
				{% endfor %}
				<label class="btn btn-default">
					<input type="radio" id="collection_date_other" name="collection_day" value="">Other <span class="caret"></span>
				</label>
            </div>
            
            <div id="c_date_div" style="display: none; float:right;">
			</div>
			<br>
			<div style="display: none" id="c_empty_div" class="alert alert-info">
				No more collections today!
			</div>

            <br>
            <div class="btn-group" data-toggle="buttons">
            	{% set i = 0 %}
				{% for slot in partner.delivery_slots %}
				<label class="btn btn-default" style="width: 100px;">
					<input type='radio' id="c_time_{{ i }}" name="collection_time" class="collection_time " value="{{ slot }}"
					>{{ slot }}

				</label>
				{% set i = i+ 1 %}
				{% endfor %}
            </div>
        	</fieldset>

            <br><br>
     
            <fieldset>
			<legend>Deliver: <strong><span id="delivery_string_day"></span><span id="d_comma"></span> <span id="delivery_string_time"></span></strong></legend>

			<div class="btn-group btn-group-justified" data-toggle="buttons">
				{% set i = 0 %}
				{% for day_label in next_three_days %}
				<label class="btn btn-default">
					<input type='radio' name="delivery_day" id="d_day_{{ i }}" value="{{ day_label }}">{{ day_label|nicedates }}
				</label>
				{% set i = i+ 1 %}
				{% endfor %}
				<label class="btn btn-default">
					<input type='radio' id="delivery_date_other" name="delivery_day" value="">Other <span class="caret"></span>
				</label>
            </div>

			<div id="d_date_div" style="display: none; float:right;">
			</div>

			<br>
			<div style="display: none" id="d_empty_div" class="alert alert-info">
				No more deliveries today (given the time you selected for collection)
			</div>


            <br>
            <div class="btn-group" data-toggle="buttons">
				{% set i = 0 %}
				{% for slot in partner.delivery_slots %}
				<label class="btn btn-default" name="delivery_time_label" style="width: 100px;">
					<input type='radio' id="d_time_{{ i }}" name="delivery_time" value="{{ slot }}">{{ slot }}
				</label>
				{% set i = i+ 1 %}
				{% endfor %}
            </div>
        	</fieldset>
		
				<input value="{{ partner_name }}" type="hidden" name="partner_name">
				<input value="" type="hidden" name="collection_day_output">
				<input value="" type="hidden" name="collection_time_output">
				<input value="" type="hidden" name="delivery_day_output">
				<input value="" type="hidden" name="delivery_time_output">
				<!-- For back button -->
				<input value="" type="hidden" name="storedDate"> 

	</div>
	<br/>
	<div id="review">
		<input id="reviewbtn" class="btn btn-success btn-lg" type="submit" value="Review Booking" ><br><br><br></form>
	</div>
{% endblock %}

{% block endscripts %}
<!-- timepicker -->
<script src="static/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">

$('#c_date_div').datepicker({
    startDate: "now",
    todayHighlight: true
}).on('changeDate', function(e){
    // get date
    var selectedDate = $('#c_date_div').datepicker('getDate')
    
	c_date_change(selectedDate)
	
});

$('#d_date_div').datepicker({
    startDate: "now",
    todayHighlight: true
}).on('changeDate', function(e){
    // get date
    var selected_date = $('#d_date_div').datepicker('getDate')
    if(isNaN(Date.parse(selected_date))==false){
    	// get string
		var string = get_outstring_from_date(selected_date)

		// use string
		$("#delivery_string_day").text(string) // display
		$("[name='delivery_date_output']").val(string) // save to hidden field for submission
    }

});

function getOrdinal(n) {
   var s=["th","st","nd","rd"],
       v=n%100;
   return n+(s[(v-20)%10]||s[v]||s[0]);
}



</script>



<!-- Collect widget -->
<script>

$('.btn').button() // activates buttons, required by bootstrap


$(document).ready(function() {
	// Back button logic. Restores state if someone uses back button to come back to form
	$("input[name='collection_day']:checked").click()
	$("input[name='collection_time']:checked").click()
	$("input[name='delivery_day']:checked").click()
	$("input[name='delivery_time']:checked").click()
	$('#d_date_div').datepicker('setDate', $("#storedDate").attr("value"))
	validateForm()
});

var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]



// Collection day logic.
$( "[name='collection_day']" ).change(function () {

    // get selected value
    var selectedVal = "";
	var selected = $("input[type='radio'][name='collection_day']:checked");
	var selectedDate = new Date(selected.attr('value'))

	// Show calandar if user selects "Other"
	if (selected.attr('id') == "collection_date_other"){
		document.getElementById("c_date_div").style.display = "block";
	}
	else{
		document.getElementById("c_date_div").style.display = "none";
	}

	c_date_change(selectedDate)
})

function get_earliest_delivery_today(){
	var now_time = now.getHours()*60 + now.getMinutes()
	var earliest_collection_time = now_time + 60

}

$( "[name='delivery_day']" ).change(function () {
	
	// get selected value
	var selectedDate = get_current_delivery_date()

	var selected = $("input[type='radio'][name='delivery_day']:checked");

	// Show calandar for "Other"
	if (selected.attr('id') == "delivery_date_other"){
		document.getElementById("d_date_div").style.display = "block";
	}
	else{
		document.getElementById("d_date_div").style.display = "none";
	}

	d_date_change(selectedDate)
});

function get_current_delivery_date(){
	var selectedVal = "";
	var selected = $("input[type='radio'][name='delivery_day']:checked");
	
	if (selected.attr('id') == "delivery_date_other"){
		return $('#d_date_div').datepicker('getDate')
	}
	else{
		return new Date(selected.attr('value'))
	}
}

function get_current_delivery_time(){
	var selectedVal = "";
	var selected = $("input[type='radio'][name='delivery_time']:checked");
	return selected.attr('value')
}

// TODO if days are same, limit the delivery times based on delivery days

function c_date_change(selectedDate){
	if(isNaN(Date.parse(selectedDate))==false){
		// get string for output & save
		var string = get_outstring_from_date(selectedDate)
		$("#collection_string_day").text(string) //display
		$("[name='collection_day_output']").val(string) // save for submission


		// Short-notice warning
		// -> first, check date is today
		var today = new Date()
		today.setHours(selectedDate.getHours(),selectedDate.getMinutes(),0,0)

		if (selectedDate - today == 0){
			document.getElementById("c_warning_div").style.display = "block";
			document.getElementById("c_empty_div").style.display = "block";
			hide_earlier_collection_times()
		}
		else{
			document.getElementById("c_warning_div").style.display = "none";
			document.getElementById("c_empty_div").style.display = "none";
			show_earlier_collection_times()
		}

		// deactivate earlier d_days (see also when timepicker changes)
		$('#d_date_div').datepicker('setStartDate', selectedDate)

		$("input[name='delivery_day']").each(function(){
			if(new Date($(this).attr("value")) < selectedDate){
				$(this).parent().attr("disabled", true)
			}
			else{
				$(this).parent().attr("disabled", false)
			}
		})
	


		// if d_time or d_date is set
		// and then c_date is changed to make d_date invalid
		// then reset the d_day and d_time

		// first check the date to see if that's invalidated. If it's not, then nothing needs to change. If it is, then both need to reset.
		
		// check if d_date set:
		if(isOneChecked("delivery_day")){
			// check if d_date now invalid
			var current_d_date = get_current_delivery_date()

			if (selectedDate > current_d_date){
				// so c_date has invalidated the c_date and c_time. time to reset!
				// reset delivery_day
				var d_date_selected = $("input[type='radio'][name='delivery_day']:checked");
				d_date_selected.parent().removeClass("active")
				reset_d_date()
				
				// reset delvery_time
				var d_time_selected = $("input[type='radio'][name='delivery_time']:checked");
				d_time_selected.parent().removeClass("active")
				reset_d_time() // clears strings and saves
			}
		}

		// have just selected collection_day.
		// if c_day == today
		// and no deliveries are possible today
		// disable deliveries "today"

		// check if c_date == today
		if (selectedDate - today == 0){

			//check if no deliveries possible today:

			// get_soonest_d_possible
			var now = new Date()
			var now_time = now.getHours()*60 + now.getMinutes()
			soonest_d = now_time + 60 + 6 * 60 //timenow + 7hrs

			// get last slot
			$("input[name='delivery_time']").each(function(){
				last_slot = this.value
			})
			last_slot = get_time(last_slot)

			if (last_slot < soonest_d){
				var tomorrow = new Date(now + 1000000)
				console.log(tomorrow)
				// disable deliveries today
				$("#d_day_0").parent().attr("disabled", true) // button
				$('#d_date_div').datepicker('setStartDate', tomorrow)// calendar
			}
		}
	}
};

function is_sameday(){
	var d_date_selected = $("input[type='radio'][name='delivery_day']:checked");
	var c_date_selected = $("input[type='radio'][name='collection_day']:checked");
	return c_date_selected == d_date_selected
}

function d_date_change(selectedDate){
	if(isNaN(Date.parse(selectedDate))==false){
		// get string for output & save
		var string = get_outstring_from_date(selectedDate)
		$("#delivery_string_day").text(string) //display
		$("[name='delivery_day_output']").val(string) // save for submission

		// Short-notice warning
		// -> first, check date is today
		var today = new Date()
		today.setHours(selectedDate.getHours(),selectedDate.getMinutes(),0,0)

		if (selectedDate - today == 0){
			document.getElementById("d_empty_div").style.display = "block";
			hide_earlier_delivery_times()
		}
		else{
			document.getElementById("d_empty_div").style.display = "none";
			show_earlier_delivery_times()
		}
	}
};

function hide_earlier_collection_times(){
	// get earliest collection time
	var this_hour = 0
	var this_min = 0
	var this_time = 0
	var now = new Date()
	var now_time = now.getHours()*60 + now.getMinutes()
	var earliest_collection_time = now_time + 60

	// hide unavailable times
	var total_count = 0
	var hide_count = 0
	$("input[name='collection_time']").each(function(){
		this_time = get_time(this.value)

		total_count += 1
		if (this_time < earliest_collection_time){
			$(this).parent().addClass('hidden')
			hide_count += 1
		}
	})
	if (hide_count == total_count){
		document.getElementById("c_empty_div").style.display = "block";
	}
	else{
		document.getElementById("c_empty_div").style.display = "none";
	}

	// erase any 'saved' info if they had just been removed
	if(isOneChecked("collection_time")){
		var selected = $("input[type='radio'][name='collection_time']:checked");
		var sel_val = selected.attr('value')
		var sel_time = get_time(sel_val)
		if (sel_time < earliest_collection_time){
			selected.parent().removeClass("active") // deselect button
			reset_c_time()
		}
	}
}

function reset_c_time(){
	$("#collection_string_time").text("") // remove string
	$("#c_comma").text("") // remove comma from string
	$("[name='collection_time_output']").val("") // remove save to hidden field for submission
}

function reset_d_time(){
	$("#delivery_string_time").text("") // remove string
	$("#d_comma").text("") // remove comma from string
	$("[name='delivery_time_output']").val("") // remove save to hidden field for submission
}

function reset_d_date(){
	$("#delivery_string_day").text("") // remove string
	$("#d_comma").text("") // remove comma from string
	$("[name='delivery_date_output']").val("") // remove save to hidden field for submission
}



function show_earlier_collection_times(){
	$("input[name='collection_time']").each(function(){
			$(this).parent().removeClass('hidden')
	})
	document.getElementById("c_empty_div").style.display = "none";
}

function hide_earlier_delivery_times(){ // deploys if deliver today selected.
	// get collection time
	if(isOneChecked("collection_time")){
		var selected_collection_time = $("input[name='collection_time']:selected")
		var collection_hour = parseInt(selected_collection_time.value.substr(0,2))
		var collection_min = parseInt(selected_collection_time.value.substr(3,5))
		var collection_time = collection_hour*60 + collection_min
	}
	else{ // no collection time selected
		// so user selected "deliver today" first
		// remove all options except earliest
		var now = new Date()
		var collection_time = now.getHours() * 60 + now.getMinutes() + 60
	}

	// get earliest delivery time
	var fastest_cleaning_time_hrs = 6
	var earliest_delivery_time = collection_time + 60 * fastest_cleaning_time_hrs

	// initialise values for triggering "empty" warning
	// and for checking deliv time values
	var total_count = 0
	var hiden_count = 0
	var this_hour = 0
	var this_min = 0
	var this_time = 0

	$("input[name='delivery_time']").each(function(){
		this_hour = parseInt(this.value.substr(0,2))
		this_min = parseInt(this.value.substr(3,5))
		this_time = this_hour*60 + this_min

		total_count += 1
		if (this_time < earliest_delivery_time){
			$(this).parent().addClass('hidden')
			hiden_count += 1
		}
	})

	// deploy warning
	if (hiden_count == total_count){
		document.getElementById("d_empty_div").style.display = "block";
	}
	else{
		document.getElementById("d_empty_div").style.display = "none";
	}

	// erase any 'saved' info if selected val had just been removed
	if(isOneChecked("delivery_time")){
		var selected = $("input[type='radio'][name='delivery_time']:checked");
		var selected_val = selected.attr('value')
		var selected_time = get_time(selected_val)
		if (selected_time < earliest_delivery_time){
			selected.parent().removeClass("active") // deselect button
			$("#delivery_string_time").text("") // remove string
			$("#d_comma").text("") // remove comma from string
			$("[name='delivery_time_output']").val("") // remove save to hidden field for submission
		}
	}
}

function show_earlier_delivery_times(){
	$("input[name='delivery_time']").each(function(){
		$(this).parent().removeClass('hidden')
	})
	document.getElementById("d_empty_div").style.display = "none";
}

function get_outstring_from_date(selected_date){
	return weekdays[selected_date.getDay()]
	+ " "
	+ getOrdinal(selected_date.getDate())
	+ " "
	+ months[selected_date.getUTCMonth()]
}

function clear_delivery_day(clear_this_id){
	selected = $("input[type='radio'][name='delivery_day']:checked");

	if(selected.attr("id") == clear_this_id){
		selected.parent().removeClass("active") // deselect button
		$("#delivery_string_day").text("") // remove string
		$("#c_comma").text("") // remove comma from string
		$("[name='delivery_day_output']").val("") // remove save to hidden field for submission
	}
}

function isOneChecked(name_shared_by_radios){
	var chx = document.getElementsByName(name_shared_by_radios)
	for (var i = 0; i<chx.length; i++){
		if (chx[i].checked){
			return true
		}
	}
	return false
}

function get_time(string){
	this_hour = parseInt(string.substr(0,2))
	this_min = parseInt(string.substr(3,5))
	return this_hour*60 + this_min
}

function get_time_string(mins){
	var hour = Math.floor(mins/60)
	var min = mins%60
	if (hour < 10) {
		hour = '0' + hour
	}
	if (min < 10) {
		min = '0' + min
	}
	return hour + ":" + min
}



$( "[name='collection_time']" ).change(function () {
    var selectedVal = "";
	var selected = $("input[type='radio'][name='collection_time']:checked");
	if (selected.length > 0) {
	    selectedVal = selected.val();
	}

	// get interval string from button value
	var slot = {{ partner.window_size }}
	var endtime = get_time(selectedVal) + slot
	var string = selectedVal + " - " + get_time_string(endtime)

	// display and save interval string	
	$("#collection_string_time").text(string)
	$("#c_comma").text(",")
	$("[name='collection_time_output']").val(string)

	// get the selected collection time and disable earlier delivery times.
	var earliest_delivery_time = end_time + 8*60

	// check if deliv day = collect day


	// hide unavailable deliveries
	// for each item in delivery, get the time
	$("[name='delivery_time']").each(function(){
		this_time = get_time(this.value)

		if (this_time < earliest_delivery_time){
			$(this).parent().addClass('hidden')
			$("#collection_string_time").text(string)
		}
		else{
			$(this).parent().removeClass('hidden')
		}
	})

	// if d_time is set
	// and d_date = c_date
	// and then c_time is changed to make d_date invalid
	// then reset d_time

	// first check the time to see if that's invalidated. If it's not, then nothing needs to change. If it is, then both need to reset.
	
	// check if d_time set:
	if(isOneChecked("delivery_time")){
		if(is_sameday){
			// check if d_date now invalid
			var current_d_time = get_current_delivery_time() // returns e.g. 12:00
			current_d_time_mins = get_time(current_d_time.value)

			if (selectedDate > current_d_time){
				// c_date has invalidated c_date and c_time!
				// time to reset!

				// reset delivery_day
				var d_date_selected = $("input[type='radio'][name='delivery_day']:checked");
				d_date_selected.parent().removeClass("active")
				reset_d_date()
				
				// reset delvery_time
				var d_time_selected = $("input[type='radio'][name='delivery_time']:checked");
				d_time_selected.parent().removeClass("active")
				reset_d_time() // clears strings and saves
			}
		}	
	}
});



$( "[name='delivery_time']" ).change(function () {
    var selectedVal = "";
	var selected = $("input[type='radio'][name='delivery_time']:checked");
	if (selected.length > 0) {
	    selectedVal = selected.val();
	}

	var slot = {{ partner.window_size }}
	var end_time = get_time(selectedVal) + slot
	var end_hour = Math.floor(end_time/60)
	var end_min = end_time%60
	if (end_hour < 10) {
		end_hour = '0' + end_hour
	}
	if (end_min < 10) {
		end_min = '0' + end_min
	}

	var string = ''
	string = selectedVal + " - " + end_hour + ":" + end_min
	
	$("#delivery_string_time").text(string)
	$("#d_comma").text(",")
	$("[name='delivery_time_output']").val(string)

});

</script>

<!-- form validation -->
<script type="text/javascript">
// function validateForm(){
// 	var x= $("[name='collection_time_output']").val()
// 	console.log(x)
// 	console.log("in validate form")
// 	if (x==null || x=="")
// 	  {
// 	  alert("Collection time missing");
// 	  return false;
// 	  }
// 	return true;
// }

function validateForm(){
	console.log("form invalid")
	return false;
}


</script>
{% endblock %}