{% extends "templates/base.html" %}
{% block content %}
{% include "templates/logoheader.html" %}
	<div id="questiondiv">
		{% if error_message %}
		<div class="alert alert-info">
		  {{ error_message }}
		</div>
		{% endif %}
		<form action="near" method="get">
			<input id="searchbar" type="text" name="postcode"
			placeholder="What's Your Postcode?">
			<br>
			<br>
			<input id="searchbutton" type="submit" class="btn btn-success" value="Find Me A Cleaner">
		</form>

		<br /><br /><br />
		<table id="howtotable">
			<tr>
				<td><span class="glyphicon glyphicon-home"></span><br><br></td>
				<td><span class="glyphicon glyphicon-time"></span><br><br></td>
				<td><span class="glyphicon glyphicon-heart"></span><br><br></td>
			</tr>
			<tr>
				<td>Find local clothes cleaners</td>
				<td>Book free <strong>express</strong> collection and delivery</td>
				<td>Pay the <strong>same price</strong> as in the shop!</td>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<br>
		<br>
		{% include "templates/footer.html" %}
	</div>



	
{% endblock %}