{% extends "templates/base.html" %}
{% block content %}
{% include "templates/logoheader.html" %}
	<div id="questiondiv">
		{% if error_message %}
		<div class="alert alert-info">
		  {{ error_message }}
		</div>
		{% endif %}
		<form action="near" method="get">
			<input class="collectionform input-lg" type="text" name="postcode"
			placeholder="What's Your Postcode?">
			<br>
			<br>
			<input id="searchbutton" type="submit" class="btn btn-success" value="Find Me A Cleaner">
		</form>

		<br /><br /><br />
		<table id="howtotable">
			<tr>
				<td style="width:132px;"><span class="glyphicon glyphicon-time"></span><br><br></td>
				<td style="width:132px; "><span class="glyphicon glyphicon-home"></span><br><br></td>
				<td style="width:132px;"><span class="glyphicon glyphicon-heart"></span><br><br></td>
			</tr>
			<tr>
				<td style="vertical-align: top;"><p>Book free <strong>collection</strong> and delivery</p></td>
				<td style="vertical-align: top;"><p>Collection from your <strong>doorstep</strong></p></td>
				<td style="vertical-align: top;"><p>Pay the <strong>same prices</strong> as normal!</p></td>
			</tr>
		</table>


		<br>
		<br>
		<br>
		<br>
		<br>
		{% include "templates/footer.html" %}
	</div>



	
{% endblock %}

{% block endscripts %}

<script>
  $(document).ready(function(){
    $('.carousel').carousel({
    	interval: 3000
    });
  });
</script>

{% endblock %}