{% extends "templates/base.html" %}
{% block content %}

<ol class="breadcrumb">
	<li><a href="/"><img src="static/img/Logo_width150.png"></a></li>
	<li class="active">Listings</li>
</ol>


	{% for partner in partners %}
	<div id="partnerinfo">
		
		<div id="quickviewdiv" style="margin-bottom: 10px;">

			<div id="partner_logo"><img class="partnerlogo" src="{{ partner.logo_url }}" style="float: left; margin-right: 10px;" alt='Partner Logo'>
			</div>
			<div id="partner_facts" style="float: left; width: 270px;">
				<h4 style="margin-bottom: 5px;">{{ partner.name }}</h4>
				<div id="partner_facts_deeper" style="float: left; width: 270px;">
					<h5>{{ partner.address}}, {{ partner.distance|distanceformat }}</h5>
					<h5>Min order: £{{ partner.minimum_order }}</h5>
					<h5>{{ partner.delivery_cost }}</h5>
				</div>
				<form action="menu" method="get" style="float:right; margin-top: -40px;">
						<input type="text" name="partner_name" value="{{ partner.name }}" hidden=True>
						<input type="submit" class="btn btn-success" value="View Menu"></input>
				</form>
			</div>
			

		</div>


		
	</div>

{% endfor %}

<!-- Google Code for Enter Postcode Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 967043869;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "r4kSCLPtvgoQndaPzQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967043869/?label=r4kSCLPtvgoQndaPzQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


{% endblock %}