{% extends "templates/base.html" %}
{% block content %}

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Listings</li>
</ol>

	{% for partner in partners %}
	<div id="partnerinfo">
		
		<div id="quickviewdiv" style="margin-bottom: 10px;">

			<div id="partner_logo"><img class="partnerlogo" src="{{ partner.logo_url }}" style="float: left; margin-right: 10px;" alt='Partner Logo'>
			</div>
			<div id="partner_facts" style="float: left; width: 270px;">
				<h4 style="margin-bottom: 5px;">{{ partner.name }}</h4>
				<div id="partner_facts_deeper" style="float: left; width: 270px;">
					<h5>{{ partner.address}}, {{ partner.distance|distanceformat }}</h5>
					<h5>Min order: £{{ partner.minimum_order }}</h5>
					<h5>{{ partner.delivery_cost }}</h5>
				</div>
				<form action="menu" method="get" style="float:right; margin-top: -40px;">
						<input type="text" name="partner_name" value="{{ partner.name }}" hidden=True>
						<input type="submit" class="btn btn-success" value="View Menu"></input>
				</form>
			</div>
			

		</div>


		
	</div>

{% endfor %}
{% endblock %}