<!-- TEMPLATE OBJECT IMPORTS:
'partner' : partner,
'menuitems' : menuitems -->

{% extends "templates/base.html" %}
{% block content %}

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Listings</li>
	<li class="active">Cleaner</li>
</ol>

<div id="quickviewdiv" style="">

	<div id="partner_logo"><img src="{{ partner.logo_url }}" style="float: left; margin-right: 10px;" alt='Partner Logo'>
	</div>
	<div id="partner_facts" style="float: left;">
		<h4>{{ partner.name }}</h4>
		<h5>{{ partner.address}}</h5>
		<h5>Minimum order: £{{ partner.minimum_order }}</h5>
		<h5>{{ partner.delivery_cost }}</h5>
	</div>

</div>
<form action="/collection" method="get">
	<!-- leaving hidden field in, despite use of cookies, so that
	customers can eventually start from here and buy -->
<input value="{{ partner.name }}" type="hidden" name="partner_name">
<input type="submit" class="btn btn-default btn-success btn-lg btn-block" value="Book Collection"></button></form><br>

<div> <!-- content: tab headings, tab contents -->
<ul class="nav nav-pills nav-justified" data-tabs="tabs"> <!-- tab headings -->
{% set prevtabname = '' %}
{% set i = 0 %}
{% set length = 0 %}

{% for item in menuitems %}
   	{% if item.tabname != prevtabname: %}
		{% set prevtabname = item.tabname %}
		{% set i = i+1 %}
		{% if i == 1: %}
    		<li class="active"><a data-toggle="tab" href="#T{{ i }}">{{ item.tabname }}</a></li>
		{% else %}
			{% if length > 200 %}
				<li class="dropdown">
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
					      More <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu">
			{% endif %}
						<li><a data-toggle="tab" href="#T{{ i }}">{{ item.tabname }}</a></li>
			{% if length > 200 %}
				</ul>
			{% endif %}
		{% endif %}
		{% set length = length + 30 + item.tabname|length*5 %}
	{% endif %}
{% endfor %}
</ul>


<div class="tab-content"> <!-- tab content -->
	
{% set tabnumber = 0 %} 
{% set prevtabname = 'first' %}

{% for item in menuitems %}
	{% if item.tabname != prevtabname: %} <!-- ...then setup new tab -->
	{% set tabnumber = tabnumber+1 %}
		{% if prevtabname == 'first': %}
<div class="tab-pane active" id="T{{ tabnumber }}">
	{% else %}
</table></div> <!-- end previous table and table's div -->
<div class="tab-pane" id="T{{ tabnumber }}">
	{% endif %}
<br>
<!-- START TABLE -->
<table class='menutable'>
<!-- <tr>
		<td class="itemcolumn"><strong>Item</strong></td>
	<td class="subitemcolumn"></td>   
	<td class="pricecolumn"><strong>Price</strong></td>
	<td class="turnaroundcolumn"><strong>Turn-around</strong></td>
</tr> -->
{% endif %}
<tr>
	{% if item.item != prev_item %}
		<td class='firstitem itemcolumn'>{{ item.item }}</td>
	{% else %}
		<td class="itemcolumn"></td>
	{% endif %}
	{% set prev_item = item.item %}

	<td class='subitemcolumn'>{{ item.subitem }}</td>
	
	{% if item.price != 0 %}
		<td class="pricecolumn">{{ item.price|currencyformat }}</td>

	{% else %}
		<td class="pricecolumn">{{ item.pricemin|currencyformat }} - {{ item.pricemax|currencyformat }}</td>

	{% endif %}
	<td class="turnaroundcolumn">{{ item.time|capitalize }}</td>

	
	<!-- <td><button class="btn btn-default btn-primary btn-xs" onclick="item_added('{{ item.itemid }}', '{{ item.tabname }}', '{{ item.item }}', '{{ item.subitem }}', '{{ item.price }}', '{{ item.pricemin }}', 1)"><i class="fa fa-plus"></i></button><td> -->
</tr>
	{% set prevtabname = item.tabname %}
{% endfor %}
	</table></div> <!-- end final table and table's div --> 
</div> <!-- end tab-content --> 
<!-- <br>
<div id='orderdiv'>
	<h3><center>Your Order<span id="order_amount"></span></center></h3>
	<div id='ordertablediv'></div>
</div> 
 -->
<br>
</div><!-- body div -->


{% endblock %}
{% block endscripts %}
<!-- <script src="/static/js/accounting.js/accounting.min.js"></script> -->
<!-- <script src="/static/js/custom/table.js"></script> -->

{% endblock %}