{% extends "templates/base.html" %}
{% block headscripts %}
<style type="text/css"> 
 a:hover {
  cursor:pointer;
 }
</style>

{% endblock %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/near">Listings</a></li>
	<li><a href="/menu">Cleaner</a></li>
	<li><a onclick="goBack()">Booking</a></li>
	<li class="active">Review</li>
</ol>


<h3>Your Order</h3>
<h5>Please check that it is correct</h5>
<hr>
<table class="review_table">
<tr>
	<td class='review_left' style="width: 140px;">Collection from:</td>
	<td class='review_bold'>{{ order.first_name }} {{ order.last_name }}</td>
</tr>
<tr>
	<td class='review_left'></td>
	<td>{{ order.address1 }}</td>
</tr>
{% if order.address2 %}
<tr>
	<td class='review_left'></td>
	<td>{{ order.address2 }}</td>
</tr>
{% endif %}
{% if order.address3 %}
<tr>
	<td class='review_left'></td>
	<td>{{ order.address3 }}</td>
</tr>
{% endif %}
<tr>
	<td class='review_left'></td>
	<td>{{ order.postcode }}</td>
</tr>
{% if order.collectioninstructions %}
<tr>
	<td class='review_left review_space_below'>Collection Instructions</td>
	<td class='review_space_below review_bold'>{{ order.collectioninstructions }}</td>
</tr>
{% endif %}
<tr>
	<td class='review_left'>Phone Number:</td>
	<td>{{ order.phonenumber }}</td>
</tr>
<tr>
	<td class='review_left review_space_below'>Email:</td>
	<td class='review_space_below review_bold'>{{ order.email }}</td>
</tr>
<tr><td><hr></td><td><hr></td>
<tr>
	<td class='review_left'>Cleaning & Delivery:</td>
	<td>{{ partner_name }}</td>
</tr>
<tr>
	<td class='review_left'>Collection Time:</td>
	<td>{{ order.collection_time_date }}</td>
</tr>
<tr>
	<td class='review_left'>Delivery Time:</td>
	<td>{{ order.delivery_time_date }}</td>
</tr>
</tr>
<tr>
	<td class='review_left'>Order Price:</td>
	<td>Agreed when clothes are collected</td>
</tr>
<tr>
	<td class='review_left'>Payment:</td>
	<td>{{ continue_message }}</td>
</tr>
</table>
<hr>
</h5>
<p style="text-align: right;">By continuing, you accept our <a href="/terms" target="_blank">Terms</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a></p>
<div>
	<button id="back_button" onclick="goBack()" class="btn btn-default" style="float: left; ">Go Back</button>
	<form action="buy" onsubmit="return submit_order()" method="post">
		<input value="{{ order.ordernumber }}" type="hidden" name="order_key">
		<input id="place_order_button" class="btn btn-success btn-lg" type="submit" value="Continue" style="float: right; width: 40%;">
	</form>
</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="input-group">
	<input type="hidden" id="meta" value="Sent from the 'review' page">
	<input type="text" class="form-control" id="feedback" name="searchquery" placeholder="“What do you think of this?”">
	<span class="input-group-btn">
		<button id="feedback_button" class="btn btn-default" style="color:#999999;">Send</button>
	</span>
	</div>

{% endblock %}
<!-- feedback -->
<script src="static/js/feedbackbar.js"></script>


{% block endscripts %}
<script type="text/javascript">

function goBack()
  {
  window.history.back()
  }

function submit_order(){
	$("#place_order_button").attr("value", "Loading...");
	$("#place_order_button").attr("disabled", "disabled");
	return true 
}
				
</script>


</script>

{% endblock %}