{% extends "templates/base.html" %}
{% block content %}

<a href="/"><img src="/static/img/Logo_width300.png" alt="Sixty Second Laundry" style=" margins: auto; margin-top: 30px; margin-left: 50px;"></a>
{% if timetaken %}
<h3>You just did your laundry in {{ timetaken }} {{ timeunit }}. Feels good, man.</h3>
<hr>{% endif %}


<h4>Order Received</h4>

Nice one {{ order.first_name }}. We've emailed you a booking receipt. What's next:
<br><br>
<ul>
	<li>On <strong>{{ order.collection_time_date }}</strong>, <strong>{{ order.service_partner }}</strong> pick up your clothes</li>
	<li>They confirm what you are giving them and the price.{% if order.payment_method == "paypal" %} (Payment happens automatically through PayPal and we will email you a full receipt){% endif %}</li>
	<li>They clean your clothes professionally</li>
	<li>On <strong>{{ order.delivery_time_date }}</strong> they return your clothes - fresh and beautiful.{% if order.payment_method == "cash" %} You pay in cash.{% endif %}</li>
</ul>
<br>
<h5>Changes or cancellations?</h5>

<p>Contact your cleaners directly on <strong>{{ partner_phone_number }}</strong>. (This number is also on your receipt)
</p>


<h5>Thanks for using <span style="color:red;">60 Second</span> <span style="color:darkblue;">Laundry</span></h5>

<div class="input-group" style="width: 400px;">
	<input type="hidden" id="meta" value="Sent from the 'review' page">
	<textarea id="feedback" class="collectionform input-sm" style="border-color: lightgrey; width: 320px;"placeholder="Help us make this better! Type here to send us honest feedback."></textarea>
	<span class="input-grousp-btn" style="float:right;">
		<button id="feedback_button" class="btn btn-default" style="color:#999999; width: 80px; height: 48px;">Send</button>
	</span>
	</div>
<p>Want to say hello? Email us at contact@60secondlaundry.com. If you have a question about your order, call your cleaner.</p>

<p>Have an amazing day.</p>
<img src="/static/img/Will_Signature.png" alt="Will's Signature">
<p>Will Taylor</p>
<h5>Founder, <span style="color:red;">60 Second</span> <span style="color:darkblue;">Laundry</span></h5>


{% endblock %}{% block endscripts %}
<!-- feedback -->
<script src="static/js/feedbackbar.js"></script>

{% endblock %}