<!DOCTYPE html>

{% autoescape true %}
<html>
<head>
	<title>60 Second Laundry</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/admin_custom.css" rel="stylesheet">
	{% block headscripts %}

	{% endblock %}
</head>
	<body>
		<div>
			{% block content %}

			{% endblock %}
		</div>
		
		<div>
			<footer>
				<hr/>
				<p>
				{% if not user %}
		        <a href="/admin-login">Login</a>
		        {% else %}
		          Logged in as <span style="background-color: OldLace">{{ user.name }}</span> | <a href="/admin-logout">Logout</a>
		        {% endif %}
		        |
		        <a href="/admin-dashboard">Dashboard</a>
		        |
		        <a href="/">60 Second Laundry</a>
		     	</p>
			</footer>
		</div>


	<!-- End scripts -->
	<script src="static/jquery/jquery-1.11.0.min.js"></script>
	<script src="static/js/bootstrap.js"></script>

	{% block endscripts %}

	{% endblock %}

	</body>
</html>
{% endautoescape %}