{% extends "templates/admin/base.html" %}
{% block content %}

<!-- Add content here! -->
<h1>Signup</h1>

<form action="/admin-signup" method="POST" >
	<label for="username">Username</label>
	<input type="text" name="username" /><br/>
	<label for="email">Email address</label>
	<input type="text" name="email" /><br/>
	<label for="password">Password</label>
	<input type="password" name="password" /><br/>
	<label for="name">Name</label>
	<input type="text" name="name" /><br/>
	<label for="lastname">Last Name</label>
	<input type="text" name="lastname" /><br/>
	<input type="submit" class="btn btn-success" value="Create user" />
</form>

{% endblock %}
{% block endscripts %}
{% endblock %}